.header {
  width: 100%;
  background-color: lightblue;
  padding: 1rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__container {
    img {
      width: 6rem;
      border-radius: 50%;
    }
  }

  nav {
    ul {
      display: flex;
      align-items: center;
      list-style: none;

      li {
        color: dimgray;
        text-decoration: none;
        margin-left: 1rem;
        cursor: pointer;
      }
    }
  }

  &__buttons {
    button {
      margin-left: 1rem;
      background-color: aqua;
      padding: 0.5rem 1rem;
      border: 1px solid purple;
      border-radius: 0.25rem;
      cursor: pointer;

      &:hover {
        box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.7);
      }
    }
  }
}
